<div class="container container-fluid">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Alumno" mat>
      <form class="example-form">
        <mat-form-field>
          <input type="text" placeholder="Introduce Alumno"  aria-label="Number" matInput [formControl]="studentCtrl" [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option (click)="callSomeFunction(studentCtrl.value)"  *ngFor="let student of filteredStudents | async" [value]="student">
            {{ student.name }}
          </mat-option>
        </mat-autocomplete>
        <div id="studentTimeTable">
            <h4  *ngIf="studentName" class="text-center h4">Horario para {{studentName}}</h4>
            <table class="table table-info table-bordered" style="table-layout: fixed" >
                <thead>
                <tr>
                    <th scope="col" class="text-center">Hora</th>
                    <th scope="col" class="text-center">Clase</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor = "let classRoom of timeTable; let i = index">
                    <th scope="row" class="text-center">{{classRoomsSource[classRoom].timeTable[i].hour}}</th>
                    <td class="text-center">{{classRoomsSource[classRoom].name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <button *ngIf="timeTable.length > 0"  class="btn btn-primary download-button" (click)="downloadPdf(studentName, 'studentTimeTable')">Descargar Horario Alumno</button>



      </form>
    </mat-tab>
    <mat-tab label="Listado de Alumnos">
        <!--<table class="table table-hover" >
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Alumnos</th>
                <th scope="col">Asignaturas Suspensas</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor = "let student of students; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{student.name}}</td>
                <td>
                    <span *ngFor="let subject of student.getSubjects()">
                        {{subject.name}} |
                    </span>
                </td>
            </tr>
            </tbody>
        </table>-->
        <div id="students-timetables">
            <div *ngFor = "let student of students; let i = index">
                <h4 class="h4 text-center" [id]="'st'+i">Horario de {{student.getName()}} </h4>
                <table class="table table-info table-bordered" style="table-layout: fixed" [id]="'tt'+i" >
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">Hora</th>
                        <th scope="col" class="text-center">Clase</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor = "let classRoom of student.getTimeTable(); let i = index">
                        <th scope="row" class="text-center">{{classRoomsSource[classRoom]?.timeTable[i].hour}}</th>
                        <td class="text-center">{{classRoomsSource[classRoom].name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!--<button class="btn btn-primary download-button" (click)="downloadPdf('students-timetables','students-timetables')">Descargar Horario Alumnos</button>-->
        <button class="btn btn-primary download-button" (click)="downloadPdfAllStudents()">Descargar Horario Alumnos</button>
    </mat-tab>

  </mat-tab-group>
</div>

