<div class="container container-fluid">
  <form #f="ngForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="nombreAlumno" class="alert-info">Nombre Alumno</label>
      <input
              type="email"
              class="form-control"
              id="nombreAlumno"
              required
              name="student"
              ngModel=""
              autocomplete="off"
              placeholder="Escribe el nombre del alumno a ingresar">
    </div>
    <mat-form-field>
      <mat-label>Selecciona el curso del alumno</mat-label>
      <mat-select
              ngModel=""
              id="courseStudent"
              name="courseStudent">
        <mat-option *ngFor="let course of courses" [value]="course.value" >
          {{course.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-subjects-selection
            [subjectsInDataBase]="subjectsInDataBase"
            [courses]="courses">

    </app-subjects-selection>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Añadir Alumno</button>

  </form>

</div>

