<div class="container container-fluid">
  <form #f="ngForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="nombreAlumno" class="alert-info">Nombre Alumno</label>
      <input
              type="email"
              class="form-control"
              id="nombreAlumno"
              required
              name="student"
              ngModel=""
              placeholder="Escribe el nombre del alumno a ingresar">
    </div>
    <mat-form-field>
      <mat-label>Selecciona el curso del alumno</mat-label>
      <mat-select
              ngModel=""
              id="courseStudent"
              name="courseStudent">
        <mat-option *ngFor="let course of courses" [value]="course.value" >
          {{course.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-accordion ngModelGroup="subjectsData">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            1º Eso
          </mat-panel-title>
          <mat-panel-description>
            Asignaturas
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="form-group">
          <label class="alert-info" >Selecciona las asignaturas suspensas</label>
          <div class="form-check" *ngFor="let subject of subjectsInDataBase1Eso">
            <input
                    class="form-check-input"
                    type="checkbox"
                    id="{{subject.idSubject}}"
                    [ngModel]=""
                    [name]="subject.idSubject"
                    >
            <label class="form-check-label" for="{{subject.idSubject}}">{{subject.name}} - {{subject.getSubjectClass()}}</label>
          </div>
        </div>


      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            2º Eso
          </mat-panel-title>
          <mat-panel-description>
            Asignaturas
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="form-check" *ngFor="let subject of subjectsInDataBase2Eso">
          <input
                  class="form-check-input"
                  type="checkbox"
                  id="{{subject.idSubject}}"
                  [ngModel]=""
                  [name]="subject.idSubject"
                  >
          <input type="hidden" [value]="subject" [name]="subject.name + '_hidden'">
          <label class="form-check-label" for="{{subject.idSubject}}">{{subject.name}} - {{subject.getSubjectClass()}}</label>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Añadir Alumno</button>

  </form>

</div>

