<div class="container">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab [label]="classRooms[classRoomModel]?.name" *ngFor="let classRoomModel of classRoomsModel">
            <mat-tab-group mat-align-tabs="center" >
                <mat-tab [label]="classRooms[classRoomModel].timeTable[hour].hour" *ngFor="let hour of hoursModel">
                    <!--<mat-list role="list">
                        <div class="alert-warning" *ngIf="classRooms[classRoomModel].timeTable[hour].students.length > 8">
                            <strong>
                                Atención!!! Número Alumnos - {{classRooms[classRoomModel].timeTable[hour].students.length}}
                            </strong>
                        </div>
                        <mat-list-item role="listitem" *ngFor="let student of classRooms[classRoomModel].timeTable[hour].students"
                        >
                            {{student.name}}
                        </mat-list-item>
                    </mat-list>-->

                    <table class="table table-bordered"
                           [ngClass]="{'table-warning': classRooms[classRoomModel].timeTable[hour].students.length > 32}" style="table-layout: fixed" id="class-students" >
                        <thead>
                        <tr>
                            <th scope="col" colspan="4" class="text-center">Alumnos en clase de {{classRooms[classRoomModel]?.name}} de  {{classRooms[classRoomModel].timeTable[hour].hour}}</th>
                        </tr>
                        <tr class="text-center">
                            <td></td><td>Nombre</td><td>Curso</td><td>Falta</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" *ngFor="let student of classRooms[classRoomModel].timeTable[hour].students; let i = index">
                            <td>#{{i + 1}}</td>
                            <td scope="row" class="text-center" (click)="openStudent(student.key)"><span class="edit-timetable">{{student.name}}</span></td>
                            <td>{{student.course}}</td>
                            <td><input type="checkbox"></td>

                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary download-button" (click)="downloadPdf('class-students','class-students')">Descargar Horario Alumnos</button>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
    </mat-tab-group>
</div>

