<div class="container">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab [label]="classRooms[classRoomModel]?.name" *ngFor="let classRoomModel of classRoomsModel">
            <mat-tab-group mat-align-tabs="center" >
                <mat-tab [label]="classRooms[classRoomModel].timeTable[hour].hour" *ngFor="let hour of hoursModel">
                    <mat-list role="list">
                        <div class="alert-warning" *ngIf="classRooms[classRoomModel].timeTable[hour].students.length > 8">
                            <strong>
                                Atención!!! Número Alumnos - {{classRooms[classRoomModel].timeTable[hour].students.length}}
                            </strong>
                        </div>
                        <mat-list-item role="listitem" *ngFor="let student of classRooms[classRoomModel].timeTable[hour].students"
                        >
                            {{student.name}} <button (click)="openStudent(student.key)">Detalles</button>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
            </mat-tab-group>
        </mat-tab>
    </mat-tab-group>
</div>

